/** HEADER **/
#header-nav {
  background-color: #5e5e5e;
  border-radius: 0;
  border: 0;
}
*{
  font-family: "Comic Sans MS";
}
.navbar-brand h1{
  color: #0f0f0f;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}
.navbar-header button.navbar-toggle{
  border: 1px solid black;
}
span{
  color: black;
}
section{
  background-color: #5e5e5e;
  font-weight: bold;
}
h2 h3{
  font-weight: bold;
}



